body {
    background-color: lightblue;
    font-family: bahnschrift, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.pomodoro-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    text-indent: 4px;
    background-color: #00073db7;
    color: white;
    padding: 0.5rem 0.5rem;
    width: 100%;
    overflow-x: hidden;
}

/* Timer */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00073dc7;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    border: rgb(21, 21, 60);
    box-shadow: 0 0 10px rgb(21, 21, 60);
    font-size: 3rem;
}

.minutes {
    color: white;
    font-size: 1.2em;
    font-family: bahnschrift;
}

.seconds {
    color: white;
    font-size: 1.2em;
    font-family: bahnschrift;
}

.colon {
    color: white;
    font-size: 1.2em;
    font-family: bahnschrift;
}

/* Start and Reset Buttons */
button {
    font-size: 1.2rem;
    font-family: "Space Grotesk", sans-serif;
    ;
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #00073db7;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #abababcc;
}

button:active {
    transform: translateY(1px);
    box-shadow: none;
}

.button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* other styles */
}

.button-container,
.mod-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00073db7;
    padding: 20px;
}

.mod-button-container {
    background-color: white;
}

.btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}


.play-btn,
.pause-btn,
.reset-btn {
    background-color: #00073db7;
}

.material-icons {
    font-size: 24px;
    color: white;
}

.btn-circle i.material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-circle {
    background-color: #00073db7;
    color: #ffffff;
    border: none;
}

.btn-circle:focus,
.btn-circle:hover {
    background-color: #00073db7;
    color: #ffffff;
    border: none;
}

.btn-circle:active,
.btn-circle.active {
    background-color: #00073db7;
    color: #ffffff;
    border: none;
    box-shadow: none;
}

.timer-controls {
    margin-top: 0%;
}

.timer-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ccc;
    z-index: -1;
}

.timer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 575px;
    background-size: contain;
}


.below {
    background-color: white;
    position: absolute;

}

.timer-left {
    margin-right: 4%;
    margin-left: 6%;
}

.todo-container h2 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    color: #333;
}


.todo-item .todo-text {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.todo-item:last-child {
    border-bottom: none;
}

.timer-container,
.todo-container {
    flex: 1 0 300px;
    margin: 0 0.5rem;
    box-sizing: border-box;
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-container {
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.spotify-container {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    width: 90%;
}


h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#todo-list {
    list-style-type: numeric;
    margin-left: 10%;
    padding-left: 15px;
}

#todo-list li {
    padding: 5px 5px;
    border-bottom: 1px solid #ccc;
}

#todo-list li:last-child {
    border-bottom: 5px;
}

.todo-item-place-holder {
    margin-bottom: 10px;
}


.sidebar {
    position: sticky;
    top: 1rem;
}

.sidebar img {
    width: 20px;
    height: 20px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.welcome-block {
    flex-grow: 1;
    max-width: 40vw;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
}


.login-section .form-group {
    text-align: left;
}

.todo-container {
    position: relative;
}

#addButton {
    position: absolute;
    top: 0;
    right: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item .edit-button,
.done-text {
    background: none;
    border: none;
    font-size: 12px;
    color: #888;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
}

.todo-item .edit-button i {
    font-size: 8px;
    margin-right: 5px;
}

.todo-item {
    margin-bottom: 10px;
}

.login-section {
    display: flex;
    align-items: center;
}

#demo {
    max-width: 40vw;
    margin-top: 20vh;
    border-color: white;
    border-radius: 5px;
    border-width: 50px;
}

.menu-button,
.sidebar {
    display: none;
}

@media (max-width: 768px) {
    #demoContainer {
        display: none;
    }

    .welcome-block {
        max-width: 100%;
        font-size: .8rem;
    }

    h1 {
        font-size: 2rem;
        max-width: 100%;
    }

    #firebaseui-auth-container {
        max-width: min-content;
    }

    #settingsModal #theme {
        display: none;
    }

    body,
    html {
        background-color: lightblue !important;
    }

    .todo-container {
        display: none;
    }

    .timer {
        width: 19rem;
        height: 19rem;
    }

    .minutes,
    .colon,
    .seconds {
        font-size: 6rem;
    }

    #playButton,
    #resetButton,
    #pauseButton,
    #spotifyButton,
    #settingsButton {
        width: 3.5rem;
        height: 3.5rem;
    }

    .menu-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
    }

    .menu-icon {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 2px;
    }


    .sidebar {
        width: 250px;
        height: 100%;
        background-color: #f1f1f1;
        position: fixed;
        top: 0;
        left: -250px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar-open {
        transform: translateX(0);
    }

    .long-break, .short-break, .pomodoro-button {
        font-size: medium;
    }

    #signOutButton {
        display: none;
    }

    .header-content {
        align-items: left;
    }

}